<!DOCTYPE html>
{% extends 'base.html' %}

{% block pageheader %}
<section class="content-header">
      <h1 style="color:#d2d6de;" >
          |
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Upload Excel</li>
      </ol>
    </section>
 {% endblock pageheader %}

{% block content %}
<div class="box">
    <div class="box-header">
        <h3 class="box-title">Upload Excel Data</h3>
    </div>
    <div class="row">
    <div class="col-sm-12">
        <div class="box box-primary">
            <div class="box-body pad table-responsive">
                <table class="table  text-left">
                    <div class="box">
                        <div class="box-body">
                          <div class="margin">
                            <div class="btn-group">
                              <button type="button" class="btn btn-warning">Upload Excel</button>
                              <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                              </button>
                              <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Employee Timesheet</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Store Hours</a></li>
                              </ul>
                            </div>


                            <div class="btn-group">
                                <input id="filepath" type="text" class="form-control" placeholder="Enter Excel file path ...">
                            </div>

                            <div class="btn-group">
                                <input id="filepath" type="text" class="form-control" placeholder="Enter Excel file path ...">
                            </div>
                              
                          </div>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <tbody>
                    <tr>
                        <td>
                            <button id="btn-upload" type="button" style="width:200px" class="btn btn-block btn-primary btn-sm">Upload Excel Data</button>
                        </td>
                        <div class="form-group">
                            <label>Input File Path:</label>
                            <input id="filepath" type="text" class="form-control" placeholder="Enter Excel file path ...">
                        </div>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!-- /.box -->
        </div>
    </div>
    <!-- /.col -->
                <!--&lt;!&ndash; Loading (remove the following to stop the loading)&ndash;&gt;-->
                <!--<div class="overlay">-->
                  <!--<i class="fa fa-refresh fa-spin"></i>-->
                <!--</div>-->
                <!--&lt;!&ndash; end loading &ndash;&gt;-->
    </div>
    <!-- /.box-header -->
    <div class="box-body">
            <div class="row">

                <div class="col-sm-12">
                    {% if dataset.err %}
                        {% for msg in dataset.err %}
                            <div class="box box-solid box-warning">{{ msg }}</div>
                        {% endfor %}
                    {% else %}
                        {% if dataset.result %}
                        <div class="box box-solid box-warning">Success!!</div>
                        <table id="example1" class="table table-bordered table-striped dataTable" role="grid"
                               aria-describedby="example1_info">
                            <thead>
                            <tr role="row">
                                <!--<th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1"-->
                                    <!--aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending"-->
                                    <!--style="width: 122.8px;">Rendering engine-->
                                <!--</th>-->
                                    <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                                    aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending"
                                    style="width: 122.8px;" >
                                         SheetName
                                    </th>
                                    <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                                    aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending"
                                    style="width: 122.8px;" >
                                         Employees Loaded in Database
                                    </th>
                            </tr>
                            </thead>
                            <tbody id="loaders_refreshed_data">

                            </tbody>
                            <tfoot>
                            {% for key,val in dataset.result.items %}
                                <tr>
                                        <th rowspan="1" colspan="1" >
                                             {{ key }}
                                        </th>
                                        <th rowspan="1" colspan="1" >
                                             {{ val }}
                                        </th>
                                </tr>
                            {% endfor %}
                            </tfoot>
                        </table>
                        {% endif %}
                    {% endif %}
                </div>
            </div>

        </div>
    </div>
    <!-- /.box-body -->

</div>
{% endblock content %}


{% block footer_javascript_section %}
<script>

   $(document).ajaxStart(function() { Pace.restart(); });

   $('#btn-upload').click(function(){
       var urlstr=urlstring+'/timesheet/saveexcel?filname='+$('#filepath').val()
        console.log( urlstring )
        console.log(typeof urlstring )
       $.ajax({
            'type': 'GET',
            url: urlstr,
            //data: {category: 2},  This value came come from another element like a categories list
            //dataType: 'json',  // if you are using json as data transfer format
            beforeSend: function(mytable) {
                  // Here we show the loader
            },
            success: function(data){
                  // Here your custom code to work with the requested data
                  console.log(data )
                  $("body").html(data)
            },
            failure: function(data) {
                  alert('Got an error dude');
            }
      })
    });

   <!--$('#btn-upload').click(function(){-->
       <!--var urlstr=urlstring+'/timesheet/retdata?filname='+$('#filepath').val()-->
        <!--console.log( urlstring )-->
        <!--console.log(typeof urlstring )-->
       <!--$.ajax({-->
            <!--'type': 'GET',-->
            <!--url: urlstr,-->
            <!--//data: {category: 2},  This value came come from another element like a categories list-->
            <!--//dataType: 'json',  // if you are using json as data transfer format-->
            <!--beforeSend: function(mytable) {-->
                  <!--// Here we show the loader-->
            <!--},-->
            <!--success: function(data){-->
                  <!--// Here your custom code to work with the requested data-->
                  <!--console.log(data )-->
                  <!--$("body").html(data.err)-->
            <!--},-->
            <!--failure: function(data) {-->
                  <!--$("body").html(data)-->
            <!--}-->
      <!--})-->
    <!--});-->

</script>
{% endblock footer_javascript_section %}
